APP_NAME="Kanso Intranet"
APP_ENV=local
APP_URL=http://127.0.0.1:8080
APP_LOCALE=tr-TR
APP_ADMIN_EMAIL=admin@example.com
APP_ADMIN_PASSWORD=admin123
APP_HR_EMAIL=hr@example.com
APP_HR_PASSWORD=hr123
VAPID_SUBJECT=http://127.0.0.1:8080
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=kanso_intranet
DB_USERNAME=root
DB_PASSWORD=
